:root{
    --primary-color: #0073de; 
}



body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;  
    min-height: 100vh;  
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
}

.container{
    width: 90%;              
    max-width: 500px; 
    height: 60%;
    z-index: 1;
    background: linear-gradient(to top, rgba(50, 49, 49, 0.91),
            rgba(255, 255, 255, 0.992));
    border-radius: 5%; 
    backdrop-filter: blur(50px);
    padding: 5%; 
    margin: auto;
    min-height: 400px;
    box-shadow: 0 0 10px rgb(2, 2, 2);
    background-color: #fff;
    
}

h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8rem;
}

.input-container{
    display: flex;
    margin-bottom: 20px;
    gap: 8px; 
}

input[type="text"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    font-size: 1rem;
}


button{
    padding: 10px 16px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 300ms all;
    font-size: 1rem;
}

button:hover{
    background-color: #74afe5;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    animation: fadeIn 0.5s ease;
}

li:last-child{
    border-bottom: none;
}

span{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.completed span{
    text-decoration: line-through;
    color: rgb(45, 46, 46);
}

.completed button{
    color: antiquewhite;
}

@keyframes fadeIn{
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-10px);
    }
}


@media (max-width: 200px) {
    h1 {
        font-size: 1.5rem;
    }

 .input-container {
        flex-direction: column;
    }

    input[type="text"] {
        width: 100%;
        font-size: 1.1rem;
    }

 button {
        width: 100%;
        font-size: 1.1rem;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    li button {
        margin-top: 6px;
        width: 100%;
    }
}

.sil {
    background-color: #e20404;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.sil:hover {
    background-color: #c91e1e;
}

#sayac{
   padding: 10px 16px;
}

p{
  /* background-color: #f8a54c; */
  color: #00d828;
  font-size: 20px;

}

#hepsi{
    background-color: #0073de;
    
}
#hepsi:hover{
    background-color: #74afe5;
}
#yapilacak{
    background-color: #0073de;
}
#yapilacak:hover{
    background-color: #74afe5;
}

#tamamlanan{
    background-color: #0073de;
}
#tamamlanan:hover{
    background-color: #74afe5;
}
.sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }


    .ok{
        background-color: #00d828;
        border-radius: 20px;
    }
    .ok:hover{
        background-color: #a3e4ae;
    }
     .edit{
        background-color: #0073de;
        border-radius: 20px;
     }
     .edit:hover{
        background-color: #90bee9;
     }
     .remove{
        background-color: #e20404;
        border-radius: 20px;
     }
     .remove:hover{
        background-color: #de8888;
     }


     .expired {
    color: red;
    font-weight: bold;
}
.deadline {
    margin-left: 10px;
    font-size: 0.9em;
    color: #000000;
}

#todoDeadline{
    border-radius: 5px;
    border: none;
    
}